html {
    margin: 0;
    padding: 0;
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Pacifico", sans-serif;
        font-size: 250%;
        background-color: #f06390;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
        color: #fff;
        background-attachment: fixed;
        h1, h2, h3 {
            font-weight: normal;
        }
        div.intro {
            height: 100%;
            padding: 10% 20%;
            h1{
                background-image: url("../images/010-exercise.svg");
                background-repeat: no-repeat;
                background-origin: border-box;
                padding-left: 40%;
            }
        }
        div.content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            img {
                max-width: 20%;
                padding: 10%;
                &.cake-pic {
                    max-width: 50%;
                    padding-top: 0;
                    padding-bottom: 2%;
                }
            }
            h2 {
                max-width: 40%;
                padding: 10%;
            }

            h1 {
                max-width: 75%;
                text-align: center;
            }

            h3 {
                padding-right: 20%;
                padding-left: 20%;
            }
        }
    }
}
